<section class="dashboard index" data-gh-username="<%= current_user.github_username %>">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <h2>Dashboard</h2>
  <p class="github-status">
    <span>Homework submitted:</span>
    <span class="message"></span>
    <i class="material-icons"></i>
  </p>
  <h3>Recent tasks released:</h3>
  <table>
    <tr>
      <th>Task</th>
      <th>Released</th>
      <th>Category</th>
    </tr>
    <% @cohort_tasks.each do |ct| %>
    <tr>
      <td><%= link_to ct.task.name, ct.task.question_link, target: "_blank" %></td>
      <td><%= time_ago_in_words(ct.release_date) + ' ago' %></td>
      <td><%= ct.category.name %></td>
    </tr>
    <% end %>
  </table>
</section>
