<section class="dashboard index" data-gh-username="<%= current_user.github_username %>">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <h2>Dashboard</h2>
  <p class="github-status">Github status:
    <span class="message"></span>
  </p>
  <h3>Recent tasks released:</h3>
  <table>
    <% @group_tasks.each do |gt| %>
    <tr>
      <td><%= link_to gt.task.name, gt.task.link, target: "_blank" %></td>
      <td><%= time_ago_in_words(gt.release_date) + ' ago' %></td>
      <td><%= gt.category.name %></td>
    </tr>
    <% end %>
  </table>
</section>
