<section class="dashboard task-progress">
  <h2>Task Progress</h2>
  <%= @ugt.complete.to_s %>
  <%= local_time(@ugt.group_task.release_date) %>
  <%= link_to @ugt.group_task.task.name, @ugt.group_task.task.link, target: "_blank" %>
  <table>
    <% @ugt.feedbacks.each do |fb| %>
    <tr>
      <td><%= fb.message %></td>
      <td><%= fb.author.first_name %></td>
      <td><%= local_time(fb.created_at) %></td>
    </tr>
    <% end %>
  </table>
</section>
