<section class="dashboard task-progress">
  <h2>Task Progress</h2>
  <%= @uct.complete.to_s %>
  <%= local_time(@uct.cohort_task.release_date) %>
  <%= link_to @uct.cohort_task.task.name, @uct.cohort_task.task.question_link, target: "_blank" %>
  <table>
    <% @uct.feedbacks.each do |fb| %>
    <tr>
      <td><%= fb.message %></td>
      <td><%= fb.author.first_name %></td>
      <td><%= local_time(fb.created_at) %></td>
    </tr>
    <% end %>
  </table>
</section>
