<h1>Sign Up</h1>
<%= form_for @user, url: {action: 'first_update'} do |f| %>
  <%= f.text_field :email %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :github_username %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit 'Sign Up' %>
<% end %>

