<section class="admin cohorts show">
  <h2><%= @cohort.name %></h2>
  <%= form_for @cohort.cohort_tasks.build, url: {action: :create_cohort_task} do |f| %>
    <%= f.hidden_field :cohort_id %>
    <%= f.select :task_id, options_for_select(@tasks) %>
    <%= f.select :category_id, options_for_select(@categories) %>
    <%= f.datetime_field :release_date %>
    <%= f.submit %>
  <% end %>
  <h3>Homework:</h3>
  <table style='overflow-x: scroll; width: 100%; display: block;'>
    <tr>
      <th>Students</th>
      <% @cohort_tasks.each do |ct| %>
        <% if ct.category.name == 'homework' %>
          <th style='min-width: 120px;'>
            <%= local_time(ct.release_date) %><br>
            <%= link_to ct.task.name, ct.task.question_link, target: "_blank" %>
          </th>
        <% end %>
      <% end %>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <th><%= student.first_name %></th>
        <% student.user_cohort_tasks.each do |uct| %>
          <td>
            <a href="<%= edit_admin_user_cohort_task_path(uct.id) %>">
              <% if uct.complete %>
                <i class="material-icons success">check_circle</i>
              <% else %>
                <i class="material-icons error">cancel</i>
              <% end %>
            </a>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <h3>Warmups:</h3>
  <table>
    <% @cohort_tasks.each do |ct| %>
      <% if ct.category.name == 'warmup' %>
        <tr>
          <td><%= link_to ct.task.name, ct.task.question_link, target: "_blank" %></td>
          <td><%= link_to 'solution', ct.task.solution_link, target: "_blank" %></td>
          <td><%= local_time_hours(ct.release_date) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</section>
