<!DOCTYPE html>
<html>
  <head>
    <title>Course Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <nav>
        <h1>Course Manager</h1>
        <ul>
          <li><%= link_to 'dashboard', root_path %></li>
          <li><%= link_to 'warmups', warmups_path %></li>
          <li><%= link_to 'homework', homework_path %></li>
          <li>
            <%= form_tag '/sessions', method: 'delete' do %>
              <%= submit_tag 'logout' %>
            <% end %>
          </li>
        </ul>
      </nav>
    <% end %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
