<!DOCTYPE html>
<html>
  <head>
    <title><%= website_name %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <header>
        <nav>
          <section class='content-container'>
            <h1><%= link_to website_name, root_path %></h1>
            <ul>
              <li><%= link_to 'dashboard', root_path %></li>
              <li><%= link_to 'warmups', warmups_path %></li>
              <li><%= link_to 'homework', homework_path %></li>
              <li class='log-out'>
                <%= form_tag '/sessions', method: 'delete' do %>
                  <%= submit_tag 'logout' %>
                <% end %>
              </li>
            </ul>
          </section>
        </nav>
      </header>
    <% else %>
      <h1><%= link_to website_name, root_path %></h1>
    <% end %>
    <section class='view-parent'>
      <section class='content-container'>
        <%= yield %>
      </section>
    </section>
  </body>
</html>
